body{
    background: linear-gradient(rgb(255, 1, 1), rgb(0, 0, 0));
    text-align: center;
    font-family: monospace;
    text-shadow: 5px 5px 5px red;
}

#d1{
    width: 100px;  /*largura*/
    height: 75px;  /*altura*/
    background-color: rgb(6, 6, 179);
    color: black;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    transform: rotate(150deg);
}

#d2{
    width: 100px;
    height: 75px;
    background-color: blue;
    color: black;
    border: 5px;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-width: medium;
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;
}

.links{
    display: inline;
    padding-left: 20px;
    padding-right: 100px;
    font-family:monospace;
    font-size: 3rem;
    color: red;
}